/* You can add global styles to this file, and also import other style files */
html,body,input{
    font-family: 'Kanit', sans-serif;
    font-family: 'Athiti', sans-serif;
}
input[type=text]{
    background-color: #ffffff;
    border-radius:5px;
}