<div class="container-fluid">
  <div class="row">
    <!-- show your data  -->
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name - Last Name</th>
            <th>E-mail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let User of User ; let i = index" [attr.data-index]="i">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ User.name }}</td>
            <td>{{ User.email }}</td>
            <td style="width: 250px;">
              <button type="button" (click)="onDetail(i)" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModalLong">Detail</button> 
              <button type="button" class="btn btn-warning btn-sm">Edit</button>
              <button type="button" (click)="deleteItem(i)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- you can create your info -->
    <div class="col">
      <form>
        <div class="form-group">
          <label for="Name">Name:</label>
          <input type="text" class="form-control" id="name" #name>
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" id="email" #email>
        </div>
        <div class="form-group">
          <label for="detail">Detail:</label>
          <textarea type="detail" class="form-control" id="detail" #detail></textarea>
        </div>
        <button type="submit" class="btn btn-success" (click)="onAdd(name.value,email.value,detail.value)">ADD</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title ID #<span id="userid"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <h6 for="">Name:</h6>
          <span id="userName"></span>
          <h6 for="">E-mail:</h6>
          <span id="userEmail"></span>
          <h6 for="">Detail:</h6>
          <span id="userDetail"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
